DOMAIN=lucaskaiut.com.br

# Obrigatório (usado para autenticação global da API)
AUTHENTICATION_API_KEY=

# Postgres (persistência)
POSTGRES_DATABASE=evolution
POSTGRES_USERNAME=evolution
POSTGRES_PASSWORD=

# Opcionais
CORS_ORIGIN=*
TELEMETRY=false
LOG_LEVEL=ERROR,WARN,INFO

# Fix sugerido para QR Code (Baileys / versão do WhatsApp)
CONFIG_SESSION_PHONE_VERSION=2.3000.1023204200
