DOMAIN=example.com
JENKINS_URL=https://jenkins.example.com
JENKINS_ADMIN_PASSWORD=

GITHUB_REPO_URL=https://github.com/lucaskaiut/infra.git
GITHUB_USERNAME=git
GITHUB_TOKEN=

INFRA_HOST_PATH=/home/SEU_UTILIZADOR/infra
DOCKER_GID=

N8N_DEPLOY_WEBHOOK_URL=https://n8n.example.com/webhook/jenkins-deploy-notify
